{% extends 'layout.html'%}
{% load static %}

{% block content %}

<h1 class="Contactenos-et">IMPRESIONES CORPORATIVAS</h1>
<p class="contactenos-text">Son Herramientas muy importantes que nos ayudan en la comunicación brindando orden e
    identidad corporativa, por ello contamos con una amplio conocimiento en su elaboración.</p>
<div class="contenedor-cards1 container my-4">
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/agendaXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Agendas</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/blocknotasXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Block de Notas</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/membretadoXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hojas Membretadas</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/carpetasXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sobres y Carpetas</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/formatosXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Formatos de Control</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/documentosinXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Documentos Internos</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/tarjetaXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tarjetas Personales</h5>
        </div>
    </div>
</div>

<div class="bann-cont">
    <div class="cont1"><a href="{% url 'publicidad' %}"><img src="{% static 'images/publi@XS.png'%}" alt="asdas"
                height="200px"></a>
    </div>

    <div class="cont1"><a href="{% url 'giganto' %}"><img src="{% static 'images/minigigaXS.png'%}" alt="asdas"
                height="200px"></a>
    </div>
    <div class="cont1"><a href="{% url 'packag' %}"><img src="{% static 'images/miniecologicoXS.png'%}" alt="asdas"
                height="200px"></a>
    </div>
</div>

{% endblock %}