{% extends 'layout.html'%}
{% load static %}

{% block content %}

<div>
    <div class="Contactenos-te">
        <img src="{% static 'images/nosotrosXS.png' %}" alt="informacion" width="100%" height="550px">
    </div>
</div>

<h4 class="Contactenos-et">IMPRESIONES DIGITALES</h4>
<p class="contactenos-text container">El servicio de impresiones digitales es una solución moderna y eficiente para la creación de materiales impresos en diversos formatos. En la actualidad, es indispensable contar con una impresión de calidad que permita la reproducción de imágenes y textos nítidos y precisos. La impresión digital cumple con estas necesidades al permitir una mayor flexibilidad en la personalización y la producción en pequeñas cantidades, lo que permite una reducción significativa en los costos de producción. En nuestra empresa, contamos con la tecnología de última generación y un equipo de expertos que garantiza la impresión de alta calidad y la satisfacción del cliente. Además, ofrecemos una amplia gama de opciones para la personalización de materiales, lo que permite una mayor creatividad en la presentación de la identidad de cada empresa.</p>

<div class="bann-cont">
    <div class="cont1"><a href="{% url 'publicidad' %}"><img src="{% static 'images/publi@XS.png'%}" alt="asdas" height="200px"></a>
    </div>
    <div class="cont1"><a href="{% url 'corporativa' %}"><img src="{% static 'images/minicorporXS.png'%}" alt="asdas"></a>
    </div>
    <div class="cont1"><a href="{% url 'giganto' %}"><img src="{% static 'images/minigigaXS.png'%}" alt="asdas"></a>
    </div>
    <div class="cont1"><a href="{% url 'packag' %}"><img src="{% static 'images/miniecologicoXS.png'%}" alt="asdas"></a>
    </div>
</div>

{% endblock %}