{% extends 'layout.html'%}
{% load static %}

{% block content %}

<h1 class="Contactenos-et">PACKAGING ECOLÓGICOS</h1>
<p class="contactenos-text">Brindan protección al producto y expresan identidad de la marca, por ello contamos con
    personal especializado.</p>
<div class="contenedor-cards1 container my-4">
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/envasecartonXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Envases de Cartón Corrugado y Microcorrugado</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/bolsacompraXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bolsas de Compras en Material Reciclable</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/notexXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bolsas de Notex</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/krafXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bolsas de Papel Kraft</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/cajapizaXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cajas de Pizza</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/cajasenvioXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cajas de Envío</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/cartonXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Envases de Cartón</h5>
        </div>
    </div>
</div>

<div class="bann-cont">
    <div class="cont1"><a href="{% url 'publicidad' %}"><img src="{% static 'images/minipubliXS.png'%}" alt="asdas"
                height="200px"></a>
    </div>
    <div class="cont1"><a href="{% url 'corporativa' %}"><img src="{% static 'images/minicorporXS.png'%}" alt="asdas"
                height="200px"></a>
    </div>
    <div class="cont1"><a href="{% url 'giganto' %}"><img src="{% static 'images/minigigaXS.png'%}" alt="asdas"
                height="200px"></a>
    </div>
    <div class="cont1"><a href="#"><img src="{% static 'images/minidigitalXS.png'%}" alt="asdas" height="200px"></a>
    </div>
</div>

{% endblock %}