{% extends 'layout.html'%}
{% load static %}

{% block content %}

<h1 class="Contactenos-et">IMPRESIONES PUBLICITARIAS</h1>
<p class="contactenos-text">En GRAFOTEC nos hemos especializado en la elaboración de material publicitario, siendo herramientas importantes para cumplimiento de objetivos de toda compañía.</p>
<div class="contenedor-cards1 container my-4">
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/seguridadXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Catálogos</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/seguridadXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Broshure</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/seguridadXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Folletos</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/seguridadXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tripticos, Dipticos, Flyer</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/seguridadXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Material pop</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/seguridadXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Adhesivos</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/seguridadXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Rompetrafico</h5>
        </div>
    </div>
    <div class="card1" style="width: 25rem;">
        <img src="{% static 'images/seguridadXS.png'%}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Merchandising</h5>
        </div>
    </div>
</div>

{% endblock %}