{% extends 'layout.html'%}
{% load static %}

{% block content %}

<div class="my-5 servicio">
    <h4 class="descripcion1">NUESTROS SERVICIOS</h4>
    <div class="service-et"><a href="{% url 'publicidad' %}"><img src="{% static 'images/publiXS.png'%}"
                alt="asdas" height="300px">
            <p class="service-text">IMPRESIONES PUBLICITARIAS</p>
        </a>
    </div>
    <div class="service-et">
        <a href="{% url 'corporativa' %}"><img src="{% static 'images/coopXS.png'%}" alt="asdas"
                height="300px">
            <p class="service-text2">IMPRESIONES CORPORATIVAS</p>
        </a>
    </div>
    <div class="service-et">
        <a href="{% url 'giganto' %}"><img src="{% static 'images/gigaXS.png'%}" alt="asdas" height="300px">
            <p class="service-text3">GIGANTOGRAFÍAS</p>
        </a>
    </div>
    <div class="service-et">
        <a href="{% url 'packag' %}"><img src="{% static 'images/packXS.png'%}" alt="asdas"
                height="300px">
            <p class="service-text4">PACKAGING ECOLÓGICO</p>
        </a>
    </div>
    <div class="service-et">
        <a href="{% url 'digital' %}"><img src="{% static 'images/IMPRESIONDIGITALXS.png'%}" alt="asdas" height="300px">
            <p class="service-text">IMPRESIONES DIGITALES</p>
        </a>
    </div>
</div>

{% endblock %}