{% extends 'layout.html'%}
{% load static %}

{% block content %}

{% include 'partials/banner.html' %}

<!-- zona de noticias -->
<div class="container my-5 info">
    <h2 class="solutio1">SOLUCIONES INTEGRALES GRÁFICAS</h2>
    <p class="solutio">GRAFOTEC es una empresa de servicios integrales de diseño e impresión, utilizamosuna amplia
        gama de materiales y formatos para diferentes sectores, contamos con másde 20 años de experiencia en el
        rubro de la producción gráﬁca y nuestro trabajo se basa en los 3 pilares de servicio</p>
</div>

<div class="contenedor-cards container my-4">
    <div class="card" style="width: 25rem;">
        <img src="./static/images/CALIDAD2XS.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Impresión de Calidad</h5>
        </div>
    </div>
    <div class="card" style="width: 25rem;">
        <img src="./static/images/seguridadXS.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Seguridad</h5>
        </div>
    </div>
    <div class="card" style="width: 25rem;">
        <img src="./static/images/PuntualidadXS.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Puntualidad</h5>
        </div>
    </div>
</div>

<div class="my-5 servicio">
    <h2 class="descripcion1">NUESTROS SERVICIOS</h2>
    <div class="service-et"><a href="https://facebook.com" target="blank"><img src="./static/images/publiXS.png"
                alt="asdas" height="350px">
            <p class="service-text">IMPRESIONES <br>PUBLICITARIAS</p>
        </a>
    </div>
    <div class="service-et">
        <a href="https://facebook.com" target="blank"><img src="./static/images/coopXS.png" alt="asdas"
                height="350px">
            <p class="service-text2">IMPRESIONES <br> CORPORATIVAS</p>
        </a>
    </div>
    <div class="service-et">
        <a href="https://facebook.com" target="blank"><img src="./static/images/gigaXS.png" alt="asdas"
                height="315px">
            <p class="service-text3">GIGANTOGRAFIAS</p>
        </a>
    </div>
    <div class="service-et">
        <a href="https://facebook.com" target="blank"><img src="./static/images/packXS.png" alt="asdas"
                height="350px">
            <p class="service-text4">PACKAGING <br> ECOLOGICO</p>
        </a>
    </div>
</div>

<div class="clientes-img my-4">
    <h2 class="solution1">CLIENTES</h2>
    <p class="solution">Algunos de nuestros clientes que confian en nosotros</p>
    <img src="{% static 'images/clientesXS.png' %}" alt="cliente" width="100%" height="250px">
</div>

<script src="{% static 'main.js' %}"></script>

{% endblock %}
