{% extends 'layout.html'%}
{% load static %}

{% block content %}

{% include 'partials/banner.html' %}

<!-- zona de noticias -->
<div class="smallimg">
    <img src="{% static 'images/BANNERINFERIOR.png' %}" alt="banner pequeno" width="100%" height="200px">
    <h4 class="banner2-text">Servicio de impresiones Gráficas. Más de 12 años brindando <br> soluciones para alcanzar tus objetivos.</h4>
</div>

<div class="my-5 info">
    <h4 class="solutio1">NUESTROS SERVICIOS</h4>
</div>

<div class="contenedor-cards container my-4">
    <div class="card" style="width: 330px;">
        <img src="{% static 'images/SERVICIOPUBLICITARIO.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Impresiones Publicitarias</h5>
            <p class="card-subtitle">Materiales de gran importancia para lograr objetivos de venta y posicionamiento de marca.</p>
        </div>
    </div>
    <div class="card" style="width: 330px;">
        <img src="{% static 'images/SERVICIOCORPORATIVO.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Impresiones Corporativas</h5>
            <p class="card-subtitle">Herramientas que brindan orden y coherencia en la presentacion de la identidad corporativa.</p>
        </div>
    </div>
    <div class="card" style="width: 330px;">
        <img src="{% static 'images/PACKAGINGECOLOGICO.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Packaging Ecológicos</h5>
            <p class="card-subtitle">Brindar proteccion al producto y permita expresar la identidad de la marca.</p>
        </div>
    </div>
</div>

<div class="clientes-img1 my-5">
    <img src="{% static 'images/PORQUENOSOTROS.png' %}" alt="cliente" width="100%">
</div>

<div class="clientes-img my-4">
    <h4 class="solutio1">PRINCIPALES SOCIOS</h4>
    <img src="{% static 'images/CLIENTES.png' %}" alt="cliente">
</div>


{% endblock %}
