{% load static %}

<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box1">
            <figure>
                <a>
                    <img src="{% static 'images/logob.png' %}" alt="logo grafotec" width="150" height="100">
                    <!-- <p>Soluciones Gráficas Integrales</p> -->
                </a>
            </figure>
        </div>
        <div class="box">
            <h4>CONTACTO</h4>
            <a href="mailto:ventas@grafotecsac.com">ventas@grafotecsac.com</a>
            <!-- <p>942236110 / 975456799</p> -->
        </div>
        <div class="box">
            <h4>OFICINA CENTRAL</h4>
            <!-- <p>Jr. General Obergoso 271 <br>Of. 618 - Breña</p> -->

        </div>
        <div class="box">
            <h4>HORARIO DE ATENCIÓN</h4>
            <p>Lunes a viernes<br>09:00 am a 06:00 pm</p>
            <p>Sabados <br> 09:00 am a 02:00 pm</p>
        </div>
        <div class="box">
            <div class="red-social">
                <a href="https://www.facebook.com/profile.php?id=100057802173684" class="fa-brands fa-facebook"></a>
                <a href="whatsapp://send?phone=+51942236110text=Hola, ¿en que te puedo ayudar?"
                    class="fa-brands fa-whatsapp"></a>
                <a href="mailto:ventas@grafotecsac.com" class="fa-solid fa-envelope"></a>
                <a href="https://www.instagram.com/grafotec_sac/?next=%2Faccounts%2Fsignup%2F"
                    class="fa-brands fa-instagram"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>GRAFOTECSAC</b> - Todos los Derechos Reservados</small>
    </div>
</footer>