{% load static %}

<div class="cabezera container">
    <div class="caja-1">
        <a href="{% url 'home' %}" class="head-img"><img src="{% static 'images/logoa.png'%}" width="150" height="100"></a>
        <div class="iconos2">
            <a href="tel:+51942236110" class="fa-solid fa-phone"></a>
            <p class="num">942236110 <br> 975456799 </p>
            <a href="mailto:ventas@grafotecsac.com" class="fa-solid fa-envelope"></a>
            <p class="correo">ventas@grafotecsac.com</p>
        </div>
        <div class="iconos">
            <a href="https://www.facebook.com/profile.php?id=100057802173684" class="fa-brands fa-facebook"></a>
            <a href="https://www.instagram.com/grafotec_sac/?next=%2Faccounts%2Fsignup%2F" class="fa-brands fa-instagram"></a>
            <a href="whatsapp://send?phone=+51942236110text=Hola, ¿en que te puedo ayudar?" class="fa-brands fa-whatsapp"></a>
        </div>
    </div>
</div>