{% extends 'layout.html'%}

{% block content %}

<div class="acerca">
    <div class="container">
        <h1>Nosotros</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, quidem. Nemo rem perspiciatis, cumque ipsa in voluptatibus reiciendis consectetur minima quibusdam nesciunt provident beatae quasi et qui recusandae quod similique exercitationem! Magnam laborum, sed odio vero eaque minima, error ex veniam mollitia distinctio culpa doloremque fuga. Ipsa eius nihil, laudantium temporibus culpa veniam cumque, enim accusantium eos saepe possimus, maxime harum quasi veritatis! Facilis corporis accusantium quo. Mollitia cupiditate, quis quasi eveniet ab exercitationem. Labore soluta id dolore. Reiciendis vero cupiditate laboriosam ab rerum itaque quod, mollitia labore. Voluptatem nobis itaque atque, eius minus commodi alias unde fugiat cum! Hic.</p>
    </div>
</div>

{% endblock %}