{% extends 'layout.html'%}
{% load static %}

{% block content %}

<div>
    <div class="Contactenos-te">
        <img src="{% static 'images/nosotrosXS.png' %}" alt="informacion" width="100%" height="650px">
        <h4 class="banner-text container">Nos comprometemos en brindar soluciones efectivas, su satisfacción y tranquilidad <br> son nuestra prioridad</h4>
    </div>
</div>


<h4 class="Contactenos-et">SOMOS GRAFOTEC</h4>
<p class="contactenos-text container">Ofrecemos soluciones gráﬁcas integrales para ayudarlo a alcanzar sus objetivos. Con más de 20 años de  experiencia en <br>el rubro de la impresión gráﬁca, nuestro equipo especializado está comprometido con brindarle un asesoramiento <br> completo durante todo el proceso. Desde el diseño hasta la impresión ﬁnal, trabajamos de la mano con usted para <br> garantizar que cada proyecto se realice de manera eﬁciente y efectiva. En GRAFOTEC, nos enorgullece ofrecer un <br> servicio excepcional que supere las expectativas de nuestros clientes y les permita destacar en su mercado.</p>

<div class="contactenos">
    <div class="nosotros-te">
        <img src="{% static 'images/visionXS.png' %}" alt="foto">
        <div class="texto1">
            <h4>VISION</h4>
            <p>Liderazgo en la evolución del sector <br> gráfico, que nos permita la <br> innovación constante.</p>
        </div>
    </div>
    <div class="nosotros-te">
        <img src="{% static 'images/misionXS.png' %}" alt="foto">
        <div class="texto1">
            <h4>MISION</h4>
            <p>Brindar a nuestros clientes el mejor <br> servicio que genere valor y sume <br> a su desarrollo.</p>
        </div>
    </div>
    <div class="nosotros-te">
        <img src="{% static 'images/valoresXS.png' %}" alt="foto">
        <div class="texto1">
            <h4>VALORES</h4>
            <p>Honestidad, compromiso y sostenibilidad.</p>
        </div>
    </div>
</div>

<div class="pilares">
    <h4>PIRALES DE SERVICIO</h4>
    <div class="pilar">
        <img src="{% static 'images/calidadXS.png' %}" alt="">
        <div class="pilar-text">
            <h5>Impresión de Calidad</h5>
            <p>Nuestro equipo de expertos altamente <br>capacitados maneja materiales de primera <br>calidad para proporcionar asesoramiento<br> personalizado y garantizar un servicio <br>excepcional.</p>
        </div>
    </div>
    <div class="pilar">
        <img src="{% static 'images/garantiaXS.png' %}" alt="">
        <div class="pilar-text">
            <h5>Seguridad</h5>
            <p>Nuestro servicio te brinda un respaldo sólido <br>al acompañarte en todas las etapas de tus <br>proyectos.</p>
        </div>
    </div>
    <div class="pilar2">
        <img src="{% static 'images/puntualidadXS.png' %}" alt="">
        <div class="pilar-text2">
            <h5>Puntualidad</h5>
            <p>Garantizamos que cumpliremos con los plazos <br> de entrega acordados para responder a las <br> demandas de nuestros clientes.</p>
        </div>
    </div>
</div>

{% endblock %}