{% extends 'layout.html'%}
{% load static %}

{% block content %}

<div>
    <h1 class="Contactenos-et">SOMOS GRAFOTEC</h1>
    <div class="Contactenos-te">
        <img src="{% static 'images/mensajeXS.png' %}" alt="informacion" width="90%" height="650px">
        <h3 class="banner-text">Siempre comprometidos en la solución de sus necesidades, tu satisfacción y tranquilidad son importantes para nosotros.</h3>
    </div>
</div>

<div class="contactenos">
    <h2 class="Contactenos-et">QUIENES SOMOS</h2>
    <p class="contactenos-text container">Somos una empresa que ofrece soluciones gráficas a precios competitivos,
        contamos con un equipo especializado para el desarrollo de sus objetivos y asesorarle en el proceso,
        contamos con mas de 20 años en el rubro de la impresión gráfica.</p>
    <div class="nosotros-te">
        <img src="{% static 'images/1.png' %}" alt="foto">
        <div class="texto1">
            <h3>VISION</h3>
            <p>Liderazgo en la evolución del sector gráfico.</p>
        </div>
    </div>
    <div class="nosotros-te">
        <img src="{% static 'images/2.png' %}" alt="foto">
        <div class="texto2">
            <h3>MISION</h3>
            <p>Brindar a nuestros clientes el mejor servicio  <br> que genere valor y sume a su desarrollo.</p>
        </div>
    </div>
    <div class="nosotros-te">
        <img src="{% static 'images/3.png' %}" alt="foto">
        <div class="texto1">
            <h3>VALORES</h3>
            <p>Liderazgo en la evolución del sector gráfico.</p>
        </div>
    </div>
</div>

<div class="pilares my-5">
    <h2>PIRALES DE SERVICIO</h2>
    <p>Desde nuestra fundación, nos hemos inculcado una cultura de honestidad, excelencia y compromiso que plasmamos en nuestros servicios y forman nuestros 3 pilares de servicio</p>
    <div class="pilar">
        <img src="{% static 'images/CALIDAD2XS.png' %}" alt="">
        <div class="pilar-text">
            <h5>Impresión de Calidad</h5>
            <p>Trabajamos con materiales de alta calidad y personal especializado en el manejo de los equipos brindandote un asesoramiento personalizado.</p>
        </div>
    </div>
    <div class="pilar2">
        <img src="{% static 'images/seguridadXS.png' %}" alt="">
        <div class="pilar-text">
            <h5>Seguridad</h5>
            <p>Te brindamos el respaldo de un buen servicio acompañandote en las distintas etapas de tus proyectos.</p>
        </div>
    </div>
    <div class="pilar">
        <img src="{% static 'images/PuntualidadXS.png' %}" alt="">
        <div class="pilar-text">
            <h5>Puntualidad</h5>
            <p>Respondemos a las exigencias de nuestros clientes cumpliendo plazo acordado para la entrega de tu servicio.</p>
        </div>
    </div>
</div>

{% endblock %}